@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #008080; /* blue-600 */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #008080; /* blue-700 */
}

* {
  scrollbar-width: thin;
  scrollbar-color: #008080 #f5f5f5;
}